In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("internet_users.csv")

In [3]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,28.000000,30.900000,52.00,58.00,62,69.000,74.000000,78.9,83.78,NaN
1,Andorra,AND,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,48.936847,70.870000,70.04,78.53,81,81.000,86.434425,94.0,95.90,NaN
2,Afghanistan,AFG,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,2.107124,1.900000,1.84,3.55,4,5.000,5.454545,5.9,6.39,NaN
3,Angola,AGO,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,1.907648,3.200000,4.60,6.00,10,14.776,16.937210,19.1,21.26,NaN
4,Albania,ALB,Internet users (per 100 people),IT.NET.USER.P2,NaN,NaN,NaN,NaN,NaN,NaN,...,9.609991,15.036115,23.86,41.20,45,49.000,54.655959,57.2,60.10,NaN

In [4]:
melted = pd.melt(df, id_vars=('Country Name','Country Code','Indicator Name','Indicator Code'), var_name='Year', value_name='Value')

In [5]:
melted.head()

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Value
0,Aruba,ABW,Internet users (per 100 people),IT.NET.USER.P2,1960,NaN
1,Andorra,AND,Internet users (per 100 people),IT.NET.USER.P2,1960,NaN
2,Afghanistan,AFG,Internet users (per 100 people),IT.NET.USER.P2,1960,NaN
3,Angola,AGO,Internet users (per 100 people),IT.NET.USER.P2,1960,NaN
4,Albania,ALB,Internet users (per 100 people),IT.NET.USER.P2,1960,NaN

In [6]:
melted.to_csv("melted.csv", index=False)